.logo {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo__text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: medium;
}
